# Any zip files
*.zip

# Any images
/*.png

# Stick images folder
stick_images/

# Sensitive data
key.txt
Tweeting/Creds.py
Tweeting/Creds2.py

# Logging data
Tweeting/*.log

# General note file
notes.txt

# Test directory
testD/

# Supporting CSVs
user_points.csv
Leaderboard.csv

# General Python stuff
venv/
__pycache__/
Tweeting/__pycache__/
.idea/
